<html ng-app="myApp">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="app.js"></script>
  <script src="lib/underscore.js"></script>
  <title>
   ang test
  </title>
</head>
<body>
  <h1>Message Board</h1>
  <div ng-controller="MessageBoardCtrl">
   <ul>
   	<div ng-switch on="messages.length">  
		<span ng-switch-when="0">No messages...</span>
   	</div>
   <div ng-repeat='message in messages track by $index'> 
   	<li>{{message}} 
   		<input>{{message}}</input> <!-- does not update real `message` due to     array copying by value -->
      <button ng-click="delete(messages, $index)">Delete</button>
	  </li>   		
   </div>
   </ul>
   <h2>Add New Message</h2>
   <textarea ng-model="msg" placeholder="enter new message here"></textarea>
   <button ng-disabled="!isValid(msg)" ng-click="add(msg)">Add Message</button>
   <button ng-click="printMessages()">Print Messages</button>
  </div>
</body>
</html>
